<div class="container">
  <div class="columns">
    <div class="column ">
      <div class="field" style="margin-left: 60%;">
        <div class="control">
          <mat-form-field>
            <input matInput [matDatepicker]="dp" placeholder="Buscador por año">
            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker #dp></mat-datepicker>
          </mat-form-field>
          <div mat-raised-button matTooltip="La busqueda se hace a traves del año" style="width: 20px;float: right;margin-top: 5%;padding-left: 2%;">
            <i class="far fa-question-circle fa-2x"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="column ">
      <button class="button is-light is-medium hvr-botones-usuario" id="botonFontFamily" (click)="buscar(dp.startAt._i)" [disabled]="!dp.startAt">
        Buscar
      </button>
      <button class="button is-light is-medium hvr-botones-usuario-cancelar" id="botonFontFamily" (click)="limpiar()" style="margin-left: 1%">
        Limpiar
      </button>
    </div>
  </div>
  <div class="columns" style="margin-right: 5%;margin-left: 5%;">
    <div class="column" style="margin-left: 8%;">
      <div class="box" *ngFor="let a of actas" id="cssBox">
        <article class="media">
          <div class="media-left">
            <figure class="image is-64x64">
              <i class="fas fa-book-open fa-3x" id="icono"></i>
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>Fecha</strong>
              </p>
              <hr style="margin-top: -16px;">
              <br>
              <p style="margin-top: -50px;">
                {{ a.fecha }}
              </p>
              <p>
                <strong>Descripcion</strong>
              </p>
              <hr style="margin-top: -16px;">
              <br>
              <p style="margin-top: -50px;">
                {{ a.caracter_convocatorio }}
              </p>
            </div>
            <nav class="level is-mobile">
              <div class="level-left">
                <a class="level-item" aria-label="retweet" (click)="acta_desplegada(a)">
                  <span class="icon is-small">
                    <div mat-raised-button matTooltip="Ver acta completa" aria-label="Button that displays a tooltip when focused or hovered over">
                      <i class="fas fa-search-plus"></i>
                    </div>
                  </span>
                </a>
              </div>
            </nav>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>